<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>
      <input type="text" v-model="keyword">
    </p>
    <p>
      {{message}}
    </p>
    <ul>
      <li v-for="item in items">
        <!-- {{item.title}} -->
        <a :href="item.url" target="_blank">{{item.title}}</a> likes:{{item.likes_count}}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <script src="./index.js"></script>
</body>
</html>